parquet/
Prezentacja/
Prezentacja_Krzysik_Daniel.pptx
Prezentacja_Krzysik_Daniel_Notatki.pptx
OPISY_SLAJDOW.docx
Zmiany.docx
komendy.docx
Stare_LATEX/
Krzysik_Daniel_Magisterka_TEX/
Skrypty/
ksiazki/
instalacja_klienta_vpn.pdf
